body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

h1 {
  background-color: sandybrown;
  color: white;
  text-align: center;
  text-decoration: underline;
  font-weight: normal;
  width: 50%;
  margin: 2% auto;
  padding: 15px;
  border-radius: 12px;
  border: 2px solid black;
}

.young {
  background-color: red;
  color: white;
  text-align: center;
  width: 70%;
  margin: 5% auto;
  padding: 20px;
  border-radius: 30px;
  border: 2px solid black;
  font-weight: bold;
  font-size: 2em;
}

.ninjaForm {
  width: 50%;
  margin: 2% auto;
}

span {
  color: salmon;
  font-weight: 800;
}

.btn-delete {
  color: white;
  background-color: red;
  text-align: center;
  padding: 9px;
  border-radius: 15px;
  margin: auto;
}
